path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: black;
  stroke-width: 1.5px;
  fill-opacity: 0.7
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
