<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REBUILDD</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script type=text/javascript src="static/js/client.js"></script>
    <script type=text/javascript src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" href="static/css/style.css"> 
    <script>
    $(function() {
        init();
    });
    </script>

</head>

<body>
<div id="loading">LOADING</div>
<div style="height:40px"> </div>
<nav class="navbar navbar-default navbar-fixed-top">
<script> 
    $(function(){
        $('nav').load("static/html/nav.html"); 
    });
</script>
</nav>
<div class="container">


        <h1>
        ReBUILDD: Empowering Local Workforce Development with a Public Analytics Resource 
        </h1>
        <p>Data Science for Social Good Summer Fellowship's prototype of the Real-time Business Indicators and Labor Dynamics Database (ReBUILDD) is focused on combining federal, local, private, and public business and labor market datasets from a variety of data stakeholders to create publicly available, locally relevant, real-time indicators of labor market dynamics. Initial ReBUILDD indicators are based on the specific information needs of local job training and matching program partners in the City of Chicago</p> 
        <h2>The Challenge</h2>
        <p>The accelerating pace of technological change is having dramatic effects on local labor markets. In recent years, job seekers across the U.S. have struggled to meet the changing requirements across various sectors, even as more employers are looking for workers to fill their vacancies (see figure 1). Helping these workers train for available jobs requires better information on what industries, occupations and specific skills are in-demand and accessible in their communities. Additionally, policymakers and workforce development providers lack timely, geographically-relevant data on labor markets to inform their strategies.</p>  
 
        <h2>Our Solution</h2>
        <p>Our team combined private data sources with federal, state and local government data to create a new, open source, nationwide database that provides real-time, locally-relevant information for job seekers and the agencies and organizations who train and serve them. We then used this resource to prototype applications for City Colleges of Chicago and Bethel New Life.</p>
   
        <footer class="footer">
            <p>&copy; DSSG 2015</p>
        </footer>
</body>
</html>
